PORT=3000

MONGO_URL=mongodb://rubengonz:123456@localhost:27018/
MONGO_DB_NAME=user-store
MONGO_USER=rubengonz
MONGO_PASS=123456

JWT_SEED=SeedAleatoria123456

WEBSERVICE_URL=http://localhost:3000/api