# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
/logs
*.log

# DB
/mongo/
/postgres/
/src/generated/prisma

# Archivos del sistema
.DS_Store
Thumbs.db

# Coverage / tests
coverage/

# Build (por si luego compilas algo)
dist/
build/

# Resultados
/outputs
